.markdown-header {
  min-height: 20px;
  background-color: whitesmoke !important;
}

.markdown-header .mdl-layout__header-row {
  font-weight: 20px;
  height: 25px;
}

.markdown-body {
  position: relative;
  right: 0;
  bottom: 0;
  padding-right: 50px;
  padding-left: 20px;
  width: 90%;
  height: auto;
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1.5em;
  overflow: auto;
}

/*
* markdown styling
*/
a {
  color: #0645ad;
  text-decoration: none;
}
a:visited {
  color: #0b0080;
}
a:hover{
  color: #06e;
}
a:active{
  color:#faa700;
}
a:focus{
  outline: thin dotted;
}
a:hover, a:active{
  outline: 0;
}

p {
  margin: 1em 0;
}

img {
  max-width:100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  color: #111;
  line-height: 1em;
}

h4,h5,h6 {
  font-weight: bold;
}
h1 {
  font-size:2.5em;
}
h2 {
  font-size:2em;
  border-bottom:1px solid silver;
  padding-bottom: 5px;
}
h3 {
  font-size:1.5em;
}
h4{
  font-size:1.2em;
}
h5{
  font-size:1em;
}
h6{
  font-size:0.9em;
}

.markdown-body blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid;
}

.markdown-body blockquote:before {
  content: '';
}

.markdown-body blockquote:after {
  content: '';
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

.markdown-body pre, code {
  font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.94em;
  border-radius:3px;
  border: 1px solid #CCC;
  background-color: #F8F8F8;
}
.markdown-body pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 5px;
}

pre code {
  border: 0px !important;
  background: transparent !important;
  line-height: 1.3em;
}

code {
  padding: 0 3px 0 3px;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin:0
}

dd {
  margin: 0 0 0 2em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  vertical-align: top;
  padding: 4px 10px;
  border: 1px solid #bbb;
}

tr:nth-child(even) td, tr:nth-child(even) th {
  background: #eee;
}
