body {
  overflow: hidden;
}

.text-editor {
  width: 50%;
  height: 0;
  padding-bottom: 100%;
}

.terminal {
  position: absolute;
  width: 50%;
  height: 100%;
}

.text-editor-header {
  width: 50%;
  height: 50px;
  color: black;
  background-color: whitesmoke !important;
}

.terminal-header {
  width: 100%;
  height: 50px;
  background-color: black !important;
  color: white;
}

.mdl-layout__container {
  width: 100%;
}

.mdl-layout__content {
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.mdl-layout-title {
  text-transform: capitalize;
}

.mdl-layout__header-row span {
  margin: 0px auto;
}

.page-content {
  width: 100%;
  height: 100%;
}

.ace_line {
  display: block;
}

.ace-content  {
  margin-top: 0px !important;
}

#editor {
  margin-top: 0px;
  width: 100%;
  height: 100%;
}

/* The console container element */
#console {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

/* The inner console element. */
.jqconsole {
  padding: 10px;
  word-wrap: break-word;
}
/* The cursor. */
.jqconsole-cursor {
  background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
  color: #0d0;
}
/* The command history */
.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
  color: #dd0;
}
/* Previously entered input. */
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
  color: white;
}

.jqconsole-header span {
  color: white;
}